/*index.html*/

.about-intro{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

.intro {
  max-width: 800px;
  margin: 80px auto 0;
  padding: 0 24px;
  text-align: center;
}

.title {
  margin: 0;
  color: #FFD100;
}

#star {
  font-size: x-large;
}

.description{
  margin-top: 30px;
  font-size: 1.05rem;
  line-height: 2;
  color: white;
}

.description p {
  margin-bottom: 20px;
}

.button-container{
  text-align: center;
  margin-top: 80px;
}

.generate-button {
  display: inline-block;
  padding: 20px 60px;
  border: 1px solid #FFD100;
  border-radius: 1000px;
  font-size: larger;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  color: #FFD100;
  transition-duration: 0.2s;
}

.generate-button:hover {
  background-color: #FFD100;
  color: black;
  transform: scale(1.05);
  transition: 0.2s;
}


/*generator.html*/

.generator-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: black;
  color: #F5F5F5;
}