.about-intro {
   
  font-family: Arial, Helvetica, sans-serif;
  
}

.title {
  margin-top: 40px;
  text-align: center;
  font-size: larger;
  color: #EF3340;
}
.description{
  
  font-size: medium;
  display: inline-block;
}

.button-container{
  text-align: center;
  margin-top: 50px;
  display: block;
}

.generate-button {
  padding: 30px 65px;
  border: 1.5px solid black;
  border-radius: 20px;
  font-size: larger;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  background-color: #FFD100;
  color: black;
  cursor: pointer;
}

.akan-button:hover {
  background-color: white;
  transform: scale(1.05);
  transition: 0.2s;
}